<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="Encabezado">
        <div class="titulo">
            <h1>¡API FUNCIONANDO!</h1>
        </div>
    </div>

   
    <div class="datos-prcedimientos">
        @RenderBody()
    </div>
        
       


</body>
</html>
