<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alice&display=swap">
    <title>@ViewBag.Title</title>

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="contenedor-centro">
        <main>
            <div class="izquierda">
                <div class="titulo">

                    <h1>Recetas</h1>
                    <h1>   De</h1>
                    <h1>Cocina</h1>
                </div>

            </div>

            <div class="derecha">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer>
        <p>Universidad Tecnologica de Panama | Proyecto Final de Desarrollo de Software IV</p>
    </footer>
</body>
</html>